<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Tholos</title>
  </head>
  <body>
    <a href="/browse" class="link"><div id="navigation">
      <div class="navItem" id="browse">
        <p class="navItemText">Browse Servers</p>
      </div>
    </a>
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=704034315054350396&permissions=1&scope=bot" class="link">
      <div class="navItem" id="addServer">
        <p class="navItemText">Add your server</p>
      </div>
    </a>
    </div>

    <div id="greeting">
      <h1 id="greetingMain">
        Tholos : server advertising redesigned
      </h1>
      <br />
      <h4 id="greetingDescription">
        Tholos uses a currency system that just makes way more sense than the
        other existing systems. Read more on our
        <a href="/about"class="link">about</a> page.
      </h4>
    </div>

    <script src="index.js"></script>
  </body>
</html>
